* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#label-album {
    margin-right: 100px;
    width: 100px;
    height: 300px;
    background:rgba(147, 147, 147, 0.421);
    border: 1px solid rgba(46, 80, 235, 0.397);
    border-radius: 10px;
}

#label-album > ul > li > a {
    display: flex; /* 弹性布局 */
    justify-content: center; /* 上下居中 */
    align-items: center;  /* 左右居中 */
    text-decoration:none;
    width: 90px;
    height: 30px;
    transition: 0.3s;
    border: 1px solid rgba(144, 87, 176, 0.397);
    border-radius: 10px;
}

#label-album > ul > li > a >:hover {
    border: 3px solid rgba(0, 174, 255, 0.7);
    border-radius: 10px;
}

#label-album > ul > li > a:hover {
    color: aliceblue;
    background-color: rgba(68, 155, 232, 0.577);
}

#label-album > ul > li {
    list-style: none;
    display: flex; /* 弹性布局 */
    margin-top: 50px;
    justify-content: center; /* 上下居中 */
    align-items: center;  /* 左右居中 */

}

.album > ul > li > a {
    display: inline;
    text-decoration:none;

}

#describe-album {
    position: relative;
    bottom: 30px;
    right: 10px;
    margin-right: 50px;
}


.album > ul > li {
    list-style: none;
    display: inline-block;
}

.album > ul > li img {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.album > ul > li img:hover {
    border: 3px solid rgba(0, 174, 255, 0.7);
}

.album {
	display: flex;
	width: 800px;
    margin-right: 120px;
    justify-content: space-between;
    font-size: 15px;
}