* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.all-artist-list {
    color: rgb(0, 0, 0);
    display: flex; /* 弹性布局 */
    justify-content: center; /* 上下居中 */
    align-items: center;  /* 左右居中 */
    height: 800px;
    background-color: rgba(202, 202, 202, 0.205);
}

#label-artist {
    margin-right: 150px;
    width: 100px;
    height: 300px;
    background:rgba(216, 122, 72, 0.94);
    border: 1px solid rgba(165, 181, 255, 0.515);
    border-radius: 50px;
}

#label-artist > ul > li > a {
    display: flex; /* 弹性布局 */
    justify-content: center; /* 上下居中 */
    align-items: center;  /* 左右居中 */
    text-decoration:none;
    width: 80px;
    height: 30px;
    transition: 0.3s;
    border: 1px solid rgba(144, 87, 176, 0.397);
    border-radius: 30px;
}

#label-artist > ul > li > a >:hover {
    border: 3px solid rgba(0, 174, 255, 0.7);
    border-radius: 30px;
}

#label-artist > ul > li > a:hover {
    background-color: rgba(68, 155, 232, 0.577);
}
.artist > ul > li > a {
    text-decoration:none;

}
#label-artist > ul > li {
    list-style: none;
    display: flex; /* 弹性布局 */
    margin-top: 50px;
    justify-content: center; /* 上下居中 */
    align-items: center;  /* 左右居中 */

}

.all-artist-list .artist > ul > li {
    list-style: none;
    display: flex; /* 弹性布局 */
    justify-content: center; /* 上下居中 */
    align-items: center;  /* 左右居中 */
}

.all-artist-list .artist > ul > li img {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 100%;
    transition: 0.3s;
}
.all-artist-list .artist > ul > li img:hover {
    border: 3px solid rgba(0, 174, 255, 0.7);
}

.all-artist-list .artist {
	display: flex;
	width: 700px;
    margin-right: 120px;
    justify-content: space-between;
    font-size: 15px;
}